<main class="main">
  <div class="content">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Skill</mat-label>
          <input matInput type="number" min="{{MINIMUM_VALUE}}" max="{{MAXIMUM_VALUE}}" 
          [(ngModel)]="skill" (input)="setSkill()" (focus)="focusInput($event)"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Augmented Skill</mat-label>
          <input matInput type="number" min="{{MINIMUM_VALUE}}" max="{{MAXIMUM_VALUE}}" 
          [(ngModel)]="augmented" (input)="setAugmentedSkill()" (focus)="focusInput($event)"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Opponent Skill</mat-label>
          <input matInput type="number" min="{{MINIMUM_VALUE}}" max="{{MAXIMUM_VALUE}}" 
          [(ngModel)]="opponent" (input)="setOpponentSkill()" (focus)="focusInput($event)"/>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content class="difficulties">
        <button mat-button>
          <div *ngIf="result!=undefined">{{result}}&nbsp;<mat-icon fontIcon="{{resultGrade}}" class="icon-{{resultGrade}}"></mat-icon></div>
        </button>
        <div
          class="success-levels"
          *ngFor="let icon of successLevelIcons;"
        >
        <mat-icon fontIcon="{{icon}}" class="icon-{{icon}}"></mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let grade of grades; let index = index">
      <mat-card-content class="difficulties">
        <button mat-raised-button color="primary" (click)="rollResult(index)">{{ grade }}</button>
        <div
          class="success-levels"
          *ngFor="let successLevel of getSuccessLevels(index)"
        >
          {{ successLevel }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</main>

<router-outlet></router-outlet>
